################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/node_modules/.bin/mkdirp
/node_modules
/node_modules/.bin
/TaxiNT/.vs
/TaxiNT/bin
/TaxiNT/Publish
/TaxiNT/obj
/TaxiNT/ggsheetaccount.json
/TaxiNT.Client/bin
/TaxiNT.Client/obj
/TaxiNT.MAUI/bin
/TaxiNT.MAUI/obj
/package-lock.json
/package.json
/tailwind.extension.json
