<button type="button" class="inline-flex items-center gap-1 rounded-full bg-gray-950/2 px-2 py-1 inset-ring inset-ring-gray-950/8 dark:bg-white/5 dark:inset-ring-white/2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="-ml-0.5 size-4 fill-gray-600 dark:fill-gray-500">
        <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd"></path>
    </svg>
</button>
<button type="button" @onclick="OnToggle" class="undefined relative inline-grid size-7 place-items-center rounded-md text-gray-950 hover:bg-gray-950/5 dark:text-white dark:hover:bg-white/10" aria-label="Navigation">
    <span class="absolute top-1/2 left-1/2 size-11 -translate-1/2 pointer-fine:hidden">
    </span>
    <svg viewBox="0 0 16 16" fill="currentColor" class="size-4">
        <path d="M8 2a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM8 6.5a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM9.5 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z">
        </path>
    </svg>
</button>
@if (isToggled)
{
    <div>
        <div class="fixed inset-0 bg-white focus:outline-none md:hidden dark:bg-gray-950">
            <div class="size-full overflow-y-auto">
                <!--Tittle-->
                <div class="flex h-14 items-center justify-between px-4 py-4 sm:px-6">
                    <svg viewBox="0 0 34 24" fill="none" class="h-6"><path fill="transparent" d="M0 0H34V24H0z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.668 2c-4.445 0-7.223 2.222-8.334 6.667 1.667-2.222 3.611-3.055 5.833-2.5 1.268.317 2.175 1.236 3.178 2.255C18.979 10.081 20.87 12 25 12c4.445 0 7.223-2.222 8.334-6.666-1.666 2.222-3.61 3.055-5.833 2.5-1.269-.318-2.175-1.237-3.178-2.255C22.69 3.919 20.8 2 16.668 2zM8.334 12C3.889 12 1.11 14.222 0 18.667c1.667-2.222 3.612-3.056 5.833-2.5 1.269.316 2.175 1.236 3.178 2.255C10.645 20.081 12.536 22 16.668 22c4.444 0 7.222-2.222 8.333-6.666-1.667 2.222-3.611 3.055-5.833 2.5-1.268-.317-2.175-1.238-3.177-2.255C14.356 13.92 12.463 12 8.334 12z" fill="color(display-p3 .2196 .7412 .9725)"></path></svg>
                    <button type="button" @onclick="OnToggle"
                            class="undefined relative inline-grid size-7 place-items-center rounded-md text-gray-950 hover:bg-gray-950/5 dark:text-white dark:hover:bg-white/10"
                            aria-label="Navigation">
                        <span class="absolute top-1/2 left-1/2 size-11 -translate-1/2 pointer-fine:hidden">
                        </span>
                        <svg viewBox="0 0 16 16" fill="currentColor" class="size-4">
                            <path d="M5.28 4.22a.75.75 0 0 0-1.06 1.06L6.94 8l-2.72 2.72a.75.75 0 1 0 1.06 1.06L8 9.06l2.72 2.72a.75.75 0 1 0 1.06-1.06L9.06 8l2.72-2.72a.75.75 0 0 0-1.06-1.06L8 6.94 5.28 4.22Z">
                            </path>
                        </svg>
                    </button>
                </div>
                <!--Content-->
                <div class="grid grid-cols-1 gap-1 px-1 pb-1 sm:px-3 sm:pb-3">
                    <a class="text-xl/9 rounded-lg px-3 py-2 font-medium text-gray-950 dark:text-white data-active:bg-gray-950/5 dark:hover:bg-white/10" href="/history">Lịch sữ phiếu</a>
                    <a href="/checker" class="text-xl/9 rounded-lg px-3 py-2 font-medium text-gray-950 dark:text-white data-active:bg-gray-950/5 dark:hover:bg-white/10">Phiếu checker</a>
                    <a href="/salary" class="text-xl/9 rounded-lg px-3 py-2 font-medium text-gray-950 dark:text-white data-active:bg-gray-950/5 dark:hover:bg-white/10">Lương</a>
                    <a href="/my-information" class="text-xl/9 rounded-lg px-3 py-2 font-medium text-gray-950 dark:text-white data-active:bg-gray-950/5 dark:hover:bg-white/10">Thông tin</a>
                </div>
            </div>
        </div>
    </div>
}

@code{

    public bool isToggled { get; set; } = false;

    public void OnToggle()
    {
        isToggled = !isToggled;
    }
}